@model IEnumerable<OnlineStore.Web.Models.CompanyViewModel>

<table class="table table-borderless">
    <tr>
        @foreach (var item in Model)
        {
            <td>
                @Html.ActionLink(item.Name, "GetCertainBrendProducts", new { id = item.Id, categoryId = ViewBag.Category })
                @*@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    @Html.ActionLink(" | Delete", "DeleteCompany", new { id = item.Id })
                }*@
            </td>
        }
    </tr>
</table>
