@model IEnumerable<OnlineStore.Web.Models.CategoryViewModel>
@{
    ViewBag.Title = "Get Categories";
}

<table class="table table-borderless">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "GetCertainCategoryProducts", "Product", new { id = item.Id }, null)
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    @Html.ActionLink(" | Edit", "EditCategory", "Category", new { id = item.Id }, null)
                    @Html.ActionLink(" | Delete", "DeleteCategory", "Category", new { id = item.Id }, null)

                }

                @{
                    Html.RenderAction("GetCompaniesForCategory", "Company", new { categoryId = item.Id });
                }
            </td>
        </tr>
    }
</table>











